# heavy data folders
data/
resampled_csv/
cleaned_csv/

# Csv files
*.csv
*.parquet
notebooks/*.csv

# macOS system files
.DS_Store
notebooks/mlruns/

# Environment files from all folders
.env
api/.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
/.ipynb_checkpoints/

# Python compiled files
__pycache__/
api/__pycache__/

# Artifacts
notebooks/Feature_importance_LightGBM
notebooks/Feature_importance_RandomForest
notebooks/Feature_importance_XGBoost
notebooks/*.png

