# heavy data folders
data/
resampled_csv/
cleaned_csv/

# Csv files
*.csv
*.parquet
notebooks/*.csv

# macOS system files
.DS_Store
notebooks/mlruns/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
/.ipynb_checkpoints/

# Python compiled files
__pycache__/
api/__pycache__/